h1{
    color:maroon;
}
p{
    font-family:cursive;
}
.explore-our{
    font-family: Arial;
}
body{
    background-color: beige
}
.cpage{
    background-color:blanchedalmond;
}
.list{
    font-family:sans-serif;
}
.ctitle{
    font-family:cursive;
}
.body-text{
    font-family:sans-serif;
}
.list{
    color:maroon;
}
